.myCSModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 12;
    /* Sit on top */
    padding-top: 4%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 95%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Header */

.myCSModal-header,
.myCSModal-footer {
    background: #4A708B;
    color: #ffffff;
    margin: auto;
    width: 70%;
    padding: 2%;
    border: 1px solid #888;
}


/* Modal Content */

.myCSModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2%;
    border: 1px solid #888;
    width: 85%;
    height: 100%;
}

.myCSModalClose {
    position: relative;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
