<template name="endTransModal">
    <div class="modal modal-small-sts" id="endTransportModal">
        <div class="modal-header">
            <h5>End Transport</h5>
            <label>Call Sign: </label><strong>{{callSignForTrans}}</strong> for Call Number: {{callNoTrans}}
        </div>
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" class="endMileageInput" id="endMileageInput" />
                    <label for="endMileageInput">End Mileage</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6">
                    <a class="waves-effect waves-light btn orange cancelEndTransport left" id="cancelEndTransport">Cancel</a>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light btn saveEndTransport btn-pull-right" id="saveEndTransport"><i class="material-icons left">done</i> End Transport</a>
                </div>
            </div>
        </div>
    </div>
</template>
