<template name="messageUsersList">
    <div class="row">
        <div class="col s12">
            <table class="highlight bordered" id="unitsGrid">
                <thead>
                    <tr>
                        <th>Call Sign</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
            <ul class="collapsible" data-collapsible="expandable">
                    {{#each entityList}}

                    <li>
                        <div class="collapsible-header" style="width: 100%;">
                            {{entityName}}
                        </div>
                        <div class="collapsible-body">
                            <table>
                                <tbody>
                                    {{#each msgUsers}}
                                    <tr class="unitGridRow"  draggable="true">
                                        <td class="unitGridRow">
                                            <div class="chip msgUserName" id="{{usernmae}}" style="background: {{onlineColor}}; color: {{textColor}};">
                                                {{username}}
                                            </div>
                                        </td>
                                        <td class="unitGridRow">{{#if $eq status.online true}}Online{{/if}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </li>

                {{/each}}
            </ul>
        </div>
    </div>
    {{> rightClickMenu}}
</template>
