.xshort {
    width: 5%;
}

.short {
    width: 15%;
}

.medium {
    width: 15%;
}

.long {
    width: 30%;
}

.thin{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-family: sans-serif;
}

.unitOnCall, .clickableIcon, .sortCalls {
    cursor: pointer;
}

.infoCount {
    text-align: center;
}

.activeCallHeader {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
