<template name="buildingTypeList">
    <option value="" selected></option>
    <option value="APT">Apartment APT</option>
    <option value="BSMT">Basement BSMT</option>
    <option value="BLDG">Building BLDG</option>
    <option value="DEPT">Department DEPT</option>
    <option value="FL">Floor FL</option>
    <option value="FRNT">Front FRNT</option>
    <option value="HNGR">Hanger HNGR</option>
    <option value="KEY">Key KEY</option>
    <option value="LBBY">Lobby LBBY</option>
    <option value="LOT">Lot LOT</option>
    <option value="LOWR">Lower LOWR</option>
    <option value="OFC">Office OFC</option>
    <option value="PH">Penthouse PH</option>
    <option value="PIER">Pier PIER</option>
    <option value="REAR">Rear REAR</option>
    <option value="RM">Room RM</option>
    <option value="SIDE">Side SIDE</option>
    <option value="SLIP">Slip SLIP</option>
    <option value="SPC">Space SPC</option>
    <option value="STOP">Stop STOP</option>
    <option value="STE">Suite STE</option>
    <option value="TRLR">Trailer TRLR</option>
    <option value="UNIT">Unit UNIT</option>
    <option value="UPPR">Upper UPPR</option>
</template>
