<template name="streetTypeList">
    <option value="" selected></option>
    <option value="ALY">Alley ALY</option>
    <option value="ANX">Annex ANX</option>
    <option value="ARC">Arcade ARC</option>
    <option value="AVE">Avenue AVE</option>
    <option value="YU">Bayou YU</option>
    <option value="BCH">Beach BCH</option>
    <option value="BND">Bend BND</option>
    <option value="BLF">Bluff BLF</option>
    <option value="BTM">Bottom BTM</option>
    <option value="BLVD">Boulevard BLVD</option>
    <option value="BR">Branch BR</option>
    <option value="BRG">Bridge BRG</option>
    <option value="BRK">Brook BRK</option>
    <option value="BG">Burg BG</option>
    <option value="BYP">Bypass BYP</option>
    <option value="CP">Camp CP</option>
    <option value="CYN">Canyon CYN</option>
    <option value="CPE">Cape CPE</option>
    <option value="CSWY">Causeway CSWY</option>
    <option value="CTR">Center CTR</option>
    <option value="CIR">Circle CIR</option>
    <option value="CLFS">Cliffs CLFS</option>
    <option value="CLB">Club CLB</option>
    <option value="COR">Corner COR</option>
    <option value="CORS">Corners CORS</option>
    <option value="CRSE">Course CRSE</option>
    <option value="CT">Court CT</option>
    <option value="CTS">Courts CTS</option>
    <option value="CV">Cove CV</option>
    <option value="CRK">Creek CRK</option>
    <option value="CRES">Crescent CRES</option>
    <option value="XING">Crossing XING</option>
    <option value="DL">Dale DL</option>
    <option value="DM">Dam DM</option>
    <option value="DV">Divide DV</option>
    <option value="DR">Drive DR</option>
    <option value="EST">Estates EST</option>
    <option value="EXP">Expressway EXPY</option>
    <option value="EXT">Extension EXT</option>
    <option value="FALL">Fall FALL</option>
    <option value="FLS">Falls FLS</option>
    <option value="FRY">Ferry FRY</option>
    <option value="FLD">Field FLD</option>
    <option value="FLDS">Fields FLDS</option>
    <option value="FLT">Flats FLT</option>
    <option value="FOR">Ford FOR</option>
    <option value="FRST">Forest FRST</option>
    <option value="FGR">Forge FGR</option>
    <option value="FORK">Fork FORK</option>
    <option value="FRKS">Forks FRKS</option>
    <option value="FT">Fort FT</option>
    <option value="FWY">Freeway FWY</option>
    <option value="GDNS">Gardens GDNS</option>
    <option value="GTWY">Gateway GTWY</option>
    <option value="GLN">Glen GLN</option>
    <option value="GN">Green GN</option>
    <option value="GRV">Grove GRV</option>
    <option value="HBR">Harbor HBR</option>
    <option value="HVN">Haven HVN</option>
    <option value="HTS">Heights HTS</option>
    <option value="HWY">Highway HWY</option>
    <option value="HL">Hill HL</option>
    <option value="HLS">Hills HLS</option>
    <option value="HOLW">Hollow HOLW</option>
    <option value="INLT">Inlet INLT</option>
    <option value="IS">Island IS</option>
    <option value="ISS">Islands ISS</option>
    <option value="ISLE">Isle ISLE</option>
    <option value="JCT ">Junction JCT</option>
    <option value="CY">Key CY</option>
    <option value="KNLS">Knolls KNLS</option>
    <option value="LK">Lake LK</option>
    <option value="LKS">Lakes LKS</option>
    <option value="LNDG">Landing LNDG</option>
    <option value="LN">Lane LN</option>
    <option value="LGT">Light LGT</option>
    <option value="LF">Loaf LF</option>
    <option value="LCKS">Locks LCKS</option>
    <option value="LDG">Lodge LDG</option>
    <option value="LOOP">Loop LOOP</option>
    <option value="MALL">Mall MALL</option>
    <option value="MNR">Manor MNR</option>
    <option value="MDWS">Meadows MDWS</option>
    <option value="ML">Mill ML</option>
    <option value="MLS">Mills MLS</option>
    <option value="MSN">Mission MSN</option>
    <option value="MT">Mount MT</option>
    <option value="MTN">Mountain MTN</option>
    <option value="NCK">Neck NCK</option>
    <option value="ORCH">Orchard ORCH</option>
    <option value="OVAL">Oval OVAL</option>
    <option value="PARK">Park PARK</option>
    <option value="PKY">Parkway PKY</option>
    <option value="PASS">Pass PASS</option>
    <option value="PATH">Path PATH</option>
    <option value="PIKE">Pike PIKE</option>
    <option value="PNES">Pines PNES</option>
    <option value="PL">Place PL</option>
    <option value="PLN">Plain PLN</option>
    <option value="PLNS">Plains PLNS</option>
    <option value="PLZ">Plaza PLZ</option>
    <option value="PT">Point PT</option>
    <option value="PRT">Port PRT</option>
    <option value="PR">Prairie PR</option>
    <option value="RADL">Radial RADL</option>
    <option value="RNCH">Ranch RNCH</option>
    <option value="RPDS">Rapids RPDS</option>
    <option value="RST">Rest RST</option>
    <option value="RDG">Ridge RDG</option>
    <option value="RIV">River RIV</option>
    <option value="RD">Road RD</option>
    <option value="ROW">Row ROW</option>
    <option value="RUN">Run RUN</option>
    <option value="SHL">Shoal SHL</option>
    <option value="SHLS">Shoals SHLS</option>
    <option value="SHR">Shore SHR</option>
    <option value="SHRS">Shores SHRS</option>
    <option value="SPG">Spring SPG</option>
    <option value="SPGS">Springs SPGS</option>
    <option value="SPUR">Spur SPUR</option>
    <option value="SQ">Square SQ</option>
    <option value="STA">Station STA</option>
    <option value="STRA">Stravenues STRA</option>
    <option value="STRM">Stream STRM</option>
    <option value="ST">Street ST</option>
    <option value="SMT">Summit SMT</option>
    <option value="TER">Terrace TER</option>
    <option value="TRCE">Trace TRCE</option>
    <option value="TRAK">Track TRAK</option>
    <option value="TRL">Trail TRL</option>
    <option value="TRLR">Trailer TRLR</option>
    <option value="TUNL">Tunnel TUNL</option>
    <option value="TPKE">Turnpike TPKE</option>
    <option value="UN">Union UN</option>
    <option value="VLY">Valley VLY</option>
    <option value="VIA">Viaduct VIA</option>
    <option value="VW">View VW</option>
    <option value="VLG">Village VLG</option>
    <option value="VL">Ville VL</option>
    <option value="VIS">Vista VIS</option>
    <option value="WALK">Walk WALK</option>
    <option value="WAY">Way WAY</option>
    <option value="WLS">Wells WLS</option>
</template>
