.dispo-menu {
    background: #fff;
    display: none;
    position: absolute;
    width: auto;
    font-size: 14px;
    z-index: 5;
}

li.dispo:hover {
    background: #e2e2e2;
}

tr.dispo:hover {
    background: #e2e2e2;
}
