/* Small notification bar displayed briefly on screen */

#smartBar {
    visibility: hidden;
    width: 80vw;
    background-color: #ffffff;
    color: #2d2d2d;
    text-align: left;
    border-radius: 2px;
    border: 1px solid #c2c2c2;
    padding: 5px;
    position: fixed;
    z-index: 21;
    left: 10vw;
    bottom: 30px;
    font-size: 20px;
}

#smartBar.smartShadow {
    width: 80vw;
    box-shadow: 10px 10px 8px #2f2f2f;
}

#smartBar.show {
    visibility: visible;
    -webkit-animation: fadein 0.1s;
    animation: fadein 0.1s;
}

#smartBar.dontShow {
    visibility: hidden;
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
